.container {
    margin-top: 0;
}

.signup_button{
    display: flex !important;
    width: 100% !important;
    height:  50% !important;
    border: none !important;
    color:#ece6c2 !important;
    background-color: #6f5643 !important; 
    border-radius: 4px !important;
    box-shadow: inset 0 0 0 0 #73bda8 !important;
    transition: ease-out 0.7s !important;
    margin-top: 10px !important;
}

.signup_button:hover{
    box-shadow: inset 30vw 0 0 0 #73bda8 !important;
    cursor: pointer !important;
    color:#6f5643 !important;
}