/* @media only screen and (max-width: 600px) {
    .titleContainer1 {
        font-size: 24px ;
    }
} */


.background{
    position: fixed;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(0deg,#6f5643 0%, #cc6849 30%, #d2a24c 70%, #ece6c2 100%);
	background-repeat: no-repeat;
	min-width: 100%;
    min-height: 100%;
}

.brownContainer{
    position: fixed;
    left:27%;
    width: 50vw;
    height: 100vh;
    background-color: brown;
    margin: 0 auto;
}
.orangeContainer{
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: orange;
    margin: 0 auto;
    align-items: center;

}

.whiteContainer{
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #ece6c2 ;
    margin: 0 auto;
    
}
h1{
    margin: 0;
}

.titleContainer1{
    font-size: 5vw;
    position: relative;
     left: 4%; 
    color:#6f5643;
    text-shadow:2px 2px #73bda8;
    cursor: pointer;
}

.sloganContainer1{
    position: relative;
    font-size: 4vw;
    color:#6f5643;
    text-shadow:2px 2px #73bda8;
    text-align: center;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 5%;
    padding: 10px;

}

.registerButton{
    width:50vw;
    height: 80px;
    border: none;
    color:#ece6c2;
    background-color: #6f5643;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #73bda8;
    transition: ease-out 0.7s;
    font-size: 3vw;
    margin-right: 2vw;
}
.registerButton:hover{
    box-shadow: inset 50vw 0 0 0 #73bda8;
    cursor: pointer;
    color:#6f5643;
}

.loginButton{
    width: 50vw;
    height: 80px;
    border: none;
    color:#ece6c2;
    background-color: #6f5643;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #73bda8;
    transition: ease-out 0.7s;
    font-size: 3vw;
    
}

.loginButton:hover{
    box-shadow: inset 50vw 0 0 0 #73bda8;
    cursor: pointer;
    color:#6f5643;
}




